<!DOCTYPE html>
<html lang="uk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring сайт</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-green-100 via-emerald-50 to-green-200 text-gray-800 min-h-screen flex flex-col transition-colors duration-700">

<nav class="bg-gradient-to-r from-green-500 to-emerald-600 text-white p-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex gap-6">
            <a href="/" class="font-semibold text-lg hover:text-green-100 transition-colors duration-300">
                All music
            </a>
            <a href="/genres/add" class="font-semibold text-lg hover:text-green-100 transition-colors duration-300">
                Add genre
            </a>

        </div>


        <div class="flex gap-6">
            <a href="/static" class="hover:text-green-100 transition">Головна</a>
            <a href="/login" class="hover:text-green-100 transition">Увійти</a>
            <a href="/register" class="hover:text-green-100 transition">Реєстрація</a>
        </div>


    </div>
</nav>


<main class="container mx-auto px-4 py-10 flex-grow" layout:fragment="content"></main>

<footer class="bg-green-100 text-green-800 text-center py-4 mt-10 border-t border-green-200">
    <p>© 2026 Spring сайт | Усі права захищено</p>
</footer>

</body>
</html>